@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'clash';
  src: url('./assets/fonts/ClashGrotesk-Variable.ttf') format('truetype');
  font-weight: 100 900; /* Set according to the variable range of your font */
  font-style: normal;
}

@font-face {
  font-family: 'telma';
  src: url('./assets/fonts/Telma-Variable.ttf') format('truetype');
  font-weight: 100 900; /* Set according to the variable range of your font */
  font-style: normal;
}

@layer base{
  body{
    background-color: #222831;
  }
}


@layer utilities {
  .inset-shadow {
    border-radius: 17px;
    box-shadow: inset 7px 7px 2px #d4c895,
            inset -7px -7px 2px #f8eaaf;
  }
}